.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.map-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%
}

.chat-container {
  display: flex;
  width: 20%;
  height: 100%;
}

.leaflet-container {
  height: 100vh;
}